// Variable Overrides
$theme-colors: (
      "primary":    #bf6567,
      "secondary":  #ffa270,
      "light":      #D6D6D6,
      "dark":       #222222
);


// Bootstrap Sass Files - this is required to change the theme
@import "../../node_modules/bootstrap/scss/bootstrap";


//Mixins
@mixin unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


//*********************
//Fonts
//*********************
@font-face {
  font-family: "Ink Free";
  src: url("../fonts/InkFree.woff") format("woff");
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.ttf") format("truetype");
}


//*********************
//Navbar
//*********************
nav > *:focus, nav > *:active {
  outline: none !important;
  border: none !important;
}

#navbar-toggler:focus, #navbar-toggler:hover, #navbar-toggler:active {
  background-color: map-get($theme-colors, "dark") !important;
}

.navbar-toggler:focus {
  background: initial;
}

.nav-item {
  left: 2em;
  padding-right: 2em;
}

.nav-link {
    //color: map-get($theme-colors, "primary") !important;
    color: #fff !important;
    opacity: .6 !important;
}

.navbar-brand {
  font-family: "Caviar Dreams";
  font-size: 20pt !important;
}

@media (max-width: map_get($grid-breakpoints, sm)) {
  .navbar-brand-icon {
    margin-right: 8px !important;

    svg {
      height: 20px;
      width: 20px;
    }
  }
}

.nav-link:hover {
    opacity: 1 !important;
    text-decoration: underline !important;
}


//*********************
//Images
//*********************
#aboutImage {
  height: 350px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

@media (max-width: 415px) {
  #aboutImage {
    height: 250px;
  }
}




//*********************
//Main Body Elements
//*********************
body {
  background-color: #D6D6D6 !important;
}

html, body {
  overflow-x:hidden;
}

svg {
  @include unselectable();
  pointer-events: none;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url("../assets/loadingSymbol.svg");
  background-repeat: no-repeat;
  background-color: map-get($theme-colors, light);
  background-position: center;
}

//*********************
//tentacles
//*********************

#tentacle1 {
  position: absolute;
  left: -250px;
  top: 100%;
  z-index: 100;
}
//tentacle1 Media Queries
@media (max-width: 1730px) {
  #tentacle1 {
    left: -350px;
  }
}
@media (max-width: 1520px) {
  #tentacle1 {
    left: -450px;
  }
}
@media (max-width: 1350px) {
  #tentacle1 {
    display: none;
  }
}
@media (max-width: 1200px) {
  #tentacle1 {
    display: initial;
  }
}
@media (max-width: 1140px) {
  #tentacle1 {
    display: none;
  }
}
@media (max-width: 992px) {
  #tentacle1 {
    display: initial;
  }
}
@media (max-width: 880px) {
  #tentacle1 {
    display: none;
  }
}


#tentacle2 {
  position: absolute;
  right: -200px;
  top: 200%;
  z-index: 100;
}
//tentacle2 Media Queries
@media (max-width: 1681px) {
  #tentacle2 {
    right: -300px;
  }
}
@media (max-width: 1477px) {
  #tentacle2 {
    right: -400px;
  }
}
@media (max-width: 1280px) {
  #tentacle2 {
    display: none;
  }
}
@media (max-width: map_get($grid-breakpoints, xl)) {
  #tentacle2 {
    display: initial;
  }
}
@media (max-width: 1147px) {
  #tentacle2 {
    display: none;
  }
}
@media (max-width: map_get($grid-breakpoints, lg)) {
  #tentacle2 {
    display: initial;
  }
}
@media (max-width: 933px) {
  #tentacle2 {
    display: none;
  }
}


#tentacle3 {
  position: absolute;
  left: -200px;
  top: 300%;
  z-index: 100;
}
//tentacle3 media queries
@media (max-width: 1540px) {
  #tentacle3 {
    left: -250px;
  }
}
@media (max-width: 1440px) {
  #tentacle3 {
    left: -300px;
  }
}
@media (max-width: 1350px) {
  #tentacle3 {
    left: -350px;
  }
}
@media (max-width: 1240px) {
  #tentacle3 {
    display: none;
  }
}
@media (max-width: 1199px)
{
  #tentacle3 {
    display: initial;
    left: -300px;
  }
}
@media (max-width: 1150px)
{
  #tentacle3 {
    left: -350px;
  }
}
@media (max-width: 1060px)
{
  #tentacle3 {
    display: none;
  }
}
@media (max-width: 990px)
{
  #tentacle3 {
    display: initial;
    left: -300px;
  }
}
@media (max-width: 920px)
{
  #tentacle3 {
    left: -350px;
  }
}
@media (max-width: 820px)
{
  #tentacle3 {
    display: none;
  }
}

#tentacle4 {
  position: absolute;
  right: -50px;
  top: 500%;
  z-index: 100;
}
//tentacle4 media queries
@media (max-width: 1540px)
{
  #tentacle4 {
    right: -100px;
  }
}
@media (max-width: 1440px)
{
  #tentacle4 {
    right: -150px;
  }
}
@media (max-width: 1440px)
{
  #tentacle4 {
    right: -200px;
  }
}
@media (max-width: 1240px)
{
  #tentacle4 {
    display: none;
  }
}
@media (max-width: 1199px)
{
  #tentacle4 {
    display: initial;
  }
}
@media (max-width: 1060px)
{
  #tentacle4 {
    display: none;
  }
}
@media (max-width: 990px)
{
  #tentacle4 {
    display: initial;
    right: -150px;
  }
}
@media (max-width: 920px)
{
  #tentacle4 {
    display: initial;
    right: -200px;
  }
}
@media (max-width: 820px)
{
  #tentacle4 {
    display: none;
  }
}

//*********************
//typography
//*********************
h1 {
  @include unselectable();
  font-family: 'Rock Salt', cursive;
  font-size: 100pt;
  text-transform: lowercase;
}

@media (max-width: 940px) {
  h1 {
    font-size: 80pt;
    margin-top: 30px;
  }
}

@media (max-width: map_get($grid-breakpoints, md)) {
  h1 {
    font-size: 65pt;
    margin-top: 45px;
  }
}

h3 {
  font-family: "Caviar Dreams";
  font-size: 25pt;
}

h2 {
  font-family: "Caviar Dreams";
  font-size: 28pt;
}
@media (max-width: map_get($grid-breakpoints, sm)) {
  h2 {
    font-size: 20pt;
  }
}

.landingTextContainer {
  vertical-align: bottom;
}

.landingText {
  position: absolute;
  bottom: 0;

  h2 {
    text-align: center;
  }
}

.material-icons {
  @include unselectable();
  vertical-align: middle;
  color: map-get($theme-colors, primary);
}

//These are the icons used in the about section
#iconLarge {
  font-size: 24pt;
}



//*********************
//Landing Page
//*********************
#landingContainerMain {
  position: relative;
}

#mugAndTentacle {
  width: 815px;
  height: 715px;
}

@media (min-width: map-get($grid-breakpoints, xl)) {
  #mugAndTentacle {
    width: 978px;
    height: 858px;
  }
}

@media (min-width: 2000px) {
  #mugAndTentacle {
    width: 1223px;
    height: 1073px;
    position: relative;
    left: -100px;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  #landingContainerMain {
    top: -200px;
  }
}

@media (max-width: map_get($grid-breakpoints, md)) {
  #mugAndTentacle {
    height: 600px;
    width: 572px;
  }
  #smallLandingDesc {
    margin: 0;
  }
}

#smallLandingDesc {
  margin: 3rem;
}


//*********************
//Containers
//*********************

//*****ALL*****//
@media (max-width: 315px) {
  #about, #contact, #timelineContainer, #portfolio {
    padding-top: 100px;
  }
}

.sectionHeader {
  height: 150px;
  margin-bottom: 50px;
  display: block;

  h1 {
    color: #bfbfbf;
    position: absolute;
  }

  h3 {
    color: #000;
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: map_get($grid-breakpoints, sm))
{
  .sectionHeader {
    height: initial;
  }
  h1 {
    display: none;
  }
  h3 {
    position: initial;
    font-weight: bold;
  }
}


//*****ABOUT*****//
#about {
  padding-top: 75px;
  padding-bottom: 100px;
  min-height: 500px;
  color: #aaa;
  background-color: #222;
  -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 97%, 0 91%);
  clip-path: polygon(0 8%, 100% 0%, 100% 97%, 0 91%);

  h1 {
    color: #2f2f2f;
  }

  h3 {
    color: #fff;
  }
}

@media (max-width: 992px) {
  #about {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media (max-width: 575px) {
  #about {
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

@media (max-width: map_get($grid-breakpoints, sm)) {
  #about {
    -webkit-clip-path: initial;
    clip-path: initial;
  }
}


//*****Portfolio*****//
#portfolio {
  padding-bottom: 75px;
  min-height: 500px;
}

.smallScreenProjects {
  img {
    width: 100%;
    border-radius: 50%;
  }
  p, a{
    text-align: justify;
  }
}

@media (max-width: 992px) {
  #portfolio {
    padding-top: 0;
  }
}
@media (max-width: 576px) {
  #portfolio {
    padding-top: 75px;
  }
}


//*****CONTACT*****//
#contact {
  padding-top: 75px;
  padding-bottom: 75px;
  min-height: 500px;
}

@media (max-width: 992px) {
  #contact {
    padding-top: 0;
  }
}
@media (max-width: 576px) {
  #contact {
    padding-top: 75px;
  }
}

//*****TIMELINE*****//
#timelineContainer {
  padding-top: 75px;
  padding-bottom: 75px;
  min-height: 500px;
  color: #aaa;
  background-color: #222;
  -webkit-clip-path: polygon(29% 2%, 100% 0, 100% 98%, 86% 100%, 0 96%, 0 0);
  clip-path: polygon(29% 2%, 100% 0, 100% 98%, 86% 100%, 0 96%, 0 0);

  h1 {
    color: #2f2f2f;
  }

  h3 {
    color: #fff;
  }
}

#timeline {
  padding-top: 50px;

  .row {
    min-height: 400px;
  }

  img {
    width: 200px;
    z-index: 999;
  }
}

.timelineText {
  font-size: 1rem;
  width: 220px;
  text-align: justify;
  margin-bottom: 0;
}

@media (max-width: map_get($grid-breakpoints, lg))
{
  #timeline {
    .row {
      min-height: 300px;
    }

    img {
      max-width: 150px;
    }
  }
  .timelineText {
    width: 100%;
  }
}
@media (max-width: map_get($grid-breakpoints, md))
{
  #timeline img {
    max-width: 100%;
  }
}

@media (max-width: map_get($grid-breakpoints, sm)) {
  #timelineContainer {
    -webkit-clip-path: initial;
    clip-path: initial;
  }

  #timeline {
    padding-top: 0;
  }
}



//*********************
//Contact Form
//*********************
.form-label-group input,
.form-label-group textarea{
  border-bottom: solid 2px map_get($theme-colors, dark);
  color: map_get($theme-colors, dark);
  outline: 0 !important;
}
.form-label-group input:focus,
.form-label-group textarea:focus {
  border-bottom: solid 2px map_get($theme-colors, primary);
  outline: 0 !important;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
  box-shadow: none!important;
  outline: 0 !important;
}

label {
  @include unselectable();
}

//Floating Labels for Form
:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

.form-control-plaintext:focus {
  color: map_get($theme-colors, dark) !important;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > textarea,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  cursor: text !important;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out, color 0s;
}

.form-label-group textarea::-webkit-input-placeholder,
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group textarea:-ms-input-placeholder,
.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group textarea:-ms-input-placeholder,
.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group textarea::-moz-placeholder,
.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group textarea::placeholder,
.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group textarea:placeholder-shown:focus ~ label,
.form-label-group input:placeholder-shown:focus ~ label {
  color: map_get($theme-colors, primary) !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.form-label-group textarea:not(:placeholder-shown),
.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group textarea:not(:placeholder-shown) ~ label,
.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
}

.form-label-group textarea:not(:placeholder-shown):focus ~ label,
.form-label-group input:not(:placeholder-shown):focus ~ label {
  color: map_get($theme-colors, primary) !important;
}

//*********************
//Helper Classes
//*********************
.noUnderline {
  text-decoration: none !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m-t-5 {
  margin-top: 5em;
}

.left0 {
  left: 0;
}

.right0 {
  right: 0;
}

.line {
  position: absolute;
  height: 2px;
  width: 50%;
  top: 50%;
  background-color: $white;
}

.verticalLine {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: $white;
}